*{
    margin: 0;
    padding: 0;

}
html, body {
  height: auto;
  overflow-x: hidden; /* ✅ prevent side scroll only */
}

.header{
    background-color:white;
    padding: 10px 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 50px;  
    margin-right: 90px ;
    border: 2px solid lightgoldenrodyellow;
}
.img-box{
    
    display: flex;
    justify-content:space-between ;
    gap: 200px;
}
.img-box1{
    color: gray;
    display: flex;
    justify-content:space-around;
    gap: 110px;
    font-size: xx-large;
}

 .img-box1 a:hover{
    color: blue;
}
.para{
    padding: 80px;
    margin-top: 40;
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 40px;
    font-family: sans-serif;
   
}
.para1{
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: xx-large;
}
.signup-button {
  background-color: #2b7cd3;
  color: white;
  border: none;
  padding: 15px 20px;
  font-size: 18px;
  border-radius: 4px;
  cursor: pointer;
  font-family: sans-serif;
  max-width: 200px;         /* Optional: limit how wide it gets */

  margin: 0;           /* Center the button */
}

.signup-button:hover {
  background-color: #1a5fb4;
}

.circule-img{
    margin-top: 100px ;
    padding: 90px;
    display: flex;
    justify-content: space-between;
    justify-content: center;
}
.circule-img2 {
    padding: 50px ;
    font-size: large;
    font-family: sans-serif;
}
.circule-img2 p{
    font-family: sans-serif;
    font-size: 25px;
}
.phi{
    font-size:xx-large;
    color: blue;
 font-family: sans-serif;
} 
.phi{
    font-size:xx-large;
    color: blue;
    font-family: sans-serif;
} 
  
 .phi:hover{
    color: black;
}


.h1{
    display: flex;
    gap:100px;  
    font-size:xx-large;
    color: blue;
    font-family: sans-serif;
} 
  
 .h1:hover{
    color: black;
}
h1.img{
    margin-left: 5px;
    vertical-align: middle; 
}
.img-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px 0;
  background-color:7#fff; /* Optional: white background */
  margin-right: 400px;
}

.logo1 img {
  max-width: 100%;
  height: auto;
  opacity: 0.6;
  transition: opacity 0.3s ease;
}

.logo1 img:hover {
  cursor: pointer;
}


